header{
    background-color: rgb(182, 220, 245);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
ul{
    background-color: rgb(233, 240, 245);
    padding-top: 25px;
    padding-bottom: 5px;
}

div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#p-bear{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

img{
    border-radius: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
@media all and(min-width : 600px){
    header{
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }